name:  Build and Push Docker Image to ECR and Deploy K8S Cluster

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
    
    - name: Build Docker Image
      run: docker build -t mydocker/my-node-app:latest .

    - name: Push Image
      run: docker push mydocker/my-node-app:latest

    - name: Deploy to Kubernetes
      run: kubectl apply -f deployment.yaml
